.page {
    margin: 0 auto;
    padding: 0;
}

.page__content {
    margin: 30px auto;
    padding: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-around;
    background: #E6E6FA;
}